/*          */






/*    HOME      */

#home-main {
    background-image: url(images/erebor1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


